$primary-color: #00AD5A;
$secondary-color: #EF5DA8;
$bg-primary: #FFFFFF;
$bg-creamy: #F4F5F9;
$font-color: #445755;
$font-color-transparent: #44575580;
$status-colors: (
        "error": #d72745,
        "warning": #da9a34,
        "info": #5692ff,
        "success": #4ac23b,
        )