@use "/src/styles/variables";
@use "/src/styles/mixins";

.layout {
    --header-size: 32px;
    --gap-size: 16px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    scrollbar-gutter: stable both-edges;
    background: variables.$primary-color;
    padding: variables.$padding-margin-xl;

    @media (max-width: 425px) {
        padding: variables.$padding-margin-m;
    }

    &__body {
        gap: var(--gap-size);
        background: variables.$bg-primary;
        flex: 1 1 100%;
        height: 100%;
        box-sizing: border-box;
        padding: variables.$padding-margin-xl;

        @media (max-width: 425px) {
            padding: variables.$padding-margin-m;
        }

        border-radius: variables.$border-radius-xl;
    }

    &__content {
        border-radius: variables.$border-radius-xl;
        @include mixins.vh(var(--header-size), 'header');
        max-height: calc(100% - var(--header-size) - var(--gap-size));
        flex: 1 1 calc(100% - var(--header-size) - var(--gap-size));
    }

    &__header {
        width: 100%;
        box-sizing: border-box;
        @include mixins.vh(var(--header-size), 'height');
    }

    &__logo {
        @include mixins.vh(32px, 'height');
    }

    // &__logout-button {
    //     background: variables.$bg-creamy;
    //     padding: variables.$padding-margin-s;
    //     color: variables.$font-color;
    //     width: unset !important;
    //     @include mixins.vh(48px, 'height');
    //     aspect-ratio: 1 !important;
    //     @include mixins.vh(24px, 'font-size');
    // }
}